pymongo>=4.10
numpy>=2.0
pandas>=2.2
scikit-learn>=1.6
matplotlib>=3.9
seaborn>=0.13
wordcloud>=1.9
transformers>=4.57
datasets>=4.1
torch>=2.7
accelerate>=1.11
pyspark>=3.5
python-dateutil>=2.9
pyarrow>=15.0
